#root {
	height: 100vh;
	margin: 0 auto;
	overflow: scroll;
	background: url('./static/bg1.jpg') no-repeat top center;
	background-size: 100%;
}

.container {
	width: 75vw;
	margin: 0 auto;
	border: 1px solid #eee;
}
