#root {
	height: 100vh;
	margin: 0 auto;
	overflow: scroll;
	// background: #d2f0ff url('./static/bg1.jpg') no-repeat top center;
	// background-size: 100%;
	background: #19212a;
}

.container {
	width: 73vw;
	margin: 0 auto;
	padding: 1rem;
}
